* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GillroyBold;
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GillroyExtraBold;
  src: url("../assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: GillroyMedium;
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gillroy;
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: TavolgaFree;
  src: url("../assets/fonts/Tavolga-Free.ttf");
}

body {
  font-family: TavolgaFree, sans-serif;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
}
