<div class="product-item" >
  <div class="product-image">
    <img src="./assets/images/{{product.image}}" alt="Macaroon">
  </div>
  <div class="product-title">{{ product.title }}</div>
  <div class="product-actions">
    <div class="product-info">
      <div class="product-count">{{ product.count }} шт.</div>
      <div class="product-price">{{ product.price | currencyPipe}}</div>
    </div>
    <button class="button product-button" btn-background backgroundBtnDefaultBgColor="yellow" backgroundBtnFocusBgColor="black" (click)="addToCart()">Заказать</button>
  </div>
</div>
